<!-- Generally, HTML code is written in EJS but dynamic content can be injected too. -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>NodeJS, ExpressJS Demo</title>
	</head>
	<body>
    <!-- Injected dynamic content -->
    <h1>Hello, <%= username %></h1>
    <form method="POST" action="/">
      <input name="username" type="text"/>
      <button type="submit">Send</button>
    </form>
  </body>
</html>
